<div>
	<h4><%= flash[:alert] %></h4>
</div>
<div>
	<h1>Welcome  </h1>
	<!--	#  @user.user_name %><br> -->
	<!-- You have logged in = @user.login_count %> times.</h1> -->
	<a href="/main">Logout</a>
</div>
