<h1>Welcome to Tourify</h1>
<form action="/home/login_success" method="get">
	Username: <input type="text" name="username"><br>
	Password: <input type="text" name="passwd"><br>
	<input type="submit" value="login">
</form>
