<h1>Welcome to Tourify</h1>
<form action="/home/signup" method="post">
	Username: <input type="text" name="username"><br>
	Password: <input type="text" name="passwd"><br>
	<input type="submit" value="signup">
</form>
